<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script th:inline="javascript">
<!--    var admin = /*[[${admin}]]*/ '';-->
    console.log("admin",admin)
  </script>
</head>
<body>
<nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img th:src="@{/assets/images/faces/face1.jpg}" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/index">
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/account">
        <span class="menu-title">Account</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/role">
        <span class="menu-title">Role</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/chart">
        <span class="menu-title">Charts</span>
      </a>
    </li>
  </ul>
</nav>
</body>
</html>